<%- include('partial/header'); %>
<%- include('widget/search',{type: "list"}); %>
<script type="text/javascript" src="<%=relative_path%>js/copy-to-clipboard.js"></script>

<div class="markdown-body">
<% if(md_path){ %>
<span class="edit_btn">
<a target="_blank" href="https://github.com/benben17/linux-command/edit/main<%=md_path%>">Report issue</a> 
<span class="split"></span>
<a target="_blank" href="https://github.com/benben17/linux-command/edit/main<%=md_path%>">Add example</a>
</span>
<% } %>

<%-mdhtml%>

</div>
<%- include('widget/footer',{type: "list"}); %>
<%- include('partial/footer'); %>